services:
  mongo:
    image: mongo:7.0
    container_name: mongo_container
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - mongo_net

networks:
  mongo_net:
    driver: bridge

volumes:
  mongo_data:
